<div class="sms-code">

  <!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input1"
        (keydown)="inputKeydown($event, 'input1')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input2"
        (keydown)="inputKeydown($event, 'input2')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input3"
        (keydown)="inputKeydown($event, 'input3')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input4"
        (keydown)="inputKeydown($event, 'input4')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input5"
        (keydown)="inputKeydown($event, 'input5')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input6"
        (keydown)="inputKeydown($event, 'input6')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input7"
        (keydown)="inputKeydown($event, 'input7')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input8"
        (keydown)="inputKeydown($event, 'input8')">
    </mat-form-field>

    <mat-form-field appearance="none">
      <input matInput class="code-input" placeholder="" formControlName="input9"
        (keydown)="inputKeydown($event, 'input9')">
    </mat-form-field>
    <button type="submit">Send</button>
  </form> -->
</div>

<div class="sms-code" style="margin: 4rem auto; width: 60%;">
  <button (click)="setVal($event)">Clear OTP</button>
  <!-- <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" *ngIf="showOtpComponent" [config]="config">
  </ng-otp-input> -->
  <div class="overlay" *ngIf="beCall.length > 0">
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;">
      <span>Validating OTP Code ...</span>
    </div>
  </div>
  <div *ngIf="beCall.length > 0">{{beCall}}</div>
</div>