.multi-select-wrapper {
    .clickable, .clickedList, .allList {
        border: 1px solid black;
        //display: inline-block;
        margin: 4px;
        padding: 4px;
        cursor: pointer;
    }

    .clickable {
        display: block;
        width: 200px;
        height: 20px;
        .carret {
            display: inline-block;
            text-align: right;
            width: 100%;
            .fa-sort-up {
                position: absolute;
                margin-top: -9px;
                margin-left: -14px;
            }
            .fa-sort-down {
                position: absolute;
                margin-top: -14px;
                margin-left: -14px;
            }
        }
    }

    .clickedList {
        display: block;
        width: 200px;
        overflow: auto;
        word-break: break-all;
        margin-top: -33px;
        border: none;
        z-index: -1;
        position: absolute;
        .selected-item {
            border: 1px solid blue;
            margin: 0 2px;
            padding: 0px 6px;
        }
    }

    .allList {
        display: block;
        width: 200px;
        min-height: 200px;
        max-height: 200px;
        overflow: auto;
    }

}